.columnParent {
    display: flex;
    flex-wrap: wrap;
}

.columnParent {
    white-space: normal;
    margin: 0;
}

.cm-preview-code-block .admonition-content .columnParent p {
    white-space: pre-wrap;
}

.columnChild {
    flex-grow: 1;
    flex-basis: 0px;
    padding-right: 10px;
}